




    <div class="col-xs-12 col-lg-8 col-lg-offset-2">
        <div class="panel panel-info"  style="background-image: url('CSS/Img/21.png');background-position: center;background-size: cover;">
            <div class="panel-heading">
                <h2>Account</h2>
            </div>
            <div class="panel-body">
                <div class="form-group">
                    <form id="EditAccount" >
                        <!--<div class="inputGroup">
                          <h6>Id:</h6>
                          <input type="text" ng-model="editUser.uid" maxlength="50" readonly></input>
                        </div>-->
                        <p class="form-control-static" style="font-size: 27px;">User</p>
                        <div class="input-group">
                            <label for="user" class="sr-only">User</label>
                            <span class="input-group-addon"><span class="glyphicon glyphicon-user"></span></span>
                            <input id="user" type="text" ng-model="editUser.userName" class="form-control" placeholder="Enter your name" maxlength="50">
                        </div>

                        <p class="form-control-static" style="font-size: 27px;">Email</p>
                        <div class="input-group">
                            <label for="email" class="sr-only">Email</label>
                            <span class="input-group-addon"><span class="glyphicon glyphicon-envelope"></span></span>
                            <input id="email" type="text" ng-model="editUser.email" class="form-control" placeholder="Email" maxlength="50">
                        </div>

                        <p class="form-control-static" style="font-size: 27px;">Level</p>
                        <div class="input-group">
                            <label for="Level" class="sr-only">Level</label>
                            <span class="input-group-addon"><i class="fa fa-level-up" aria-hidden="true"></i></span>
                            <input id="Level" type="text" ng-model="editUser.level" class="form-control" placeholder="Level" readonly>
                        </div>

                        <p class="form-control-static" style="font-size: 27px;">Points</p>
                        <div class="input-group">
                            <label for="PointsInAccount" class="sr-only">Points</label>
                            <span class="input-group-addon"><i class="fa fa-line-chart" aria-hidden="true"></i></span>
                            <input id="PointsInAccount" type="text" ng-model="editUser.points" class="form-control" placeholder="Points" readonly>
                        </div>

                        <p class="form-control-static" style="font-size: 27px;">New Password</p>
                        <div class="input-group">
                            <label for="New Password" class="sr-only">New Password</label>
                            <span class="input-group-addon"><i class="fa fa-lock" aria-hidden="true"></i></span>
                            <input id="New Password" type="password" ng-model="editUser.newPsw" class="form-control" placeholder="New password">
                        </div>

                        <p class="form-control-static" style="font-size: 27px;">Confirm new Password</p>
                        <div class="input-group">
                            <label for="Confirm new Password" class="sr-only">Confirm new Password</label>
                            <span class="input-group-addon"><i class="fa fa-lock" aria-hidden="true"></i></span>
                            <input id="Confirm new Password" type="password" ng-model="editUser.confNewPsw" class="form-control" placeholder="Confirm new password">
                        </div>

                        <p class="form-control-static" style="font-size: 27px;">Current Password</p>
                        <div class="input-group">
                            <label for="Confirm new Password" class="sr-only">CurrentPassword</label>
                            <span class="input-group-addon"><i class="fa fa-lock" aria-hidden="true"></i></span>
                            <input id="Enter actual password" type="password" ng-model="editUser.acutalPsw" class="form-control" placeholder="Enter actual password">
                        </div>

                        <button  data-toggle="modal" data-target="#mymagicdisplay"  class="btn btn-lg  btn btn-info" ng-click="SaveAccountChanges();tab.selectedTab('Home')" style="width: 100%;margin-top: 10px;">Save</button>
                        <button  data-toggle="modal" data-target="#mymagicdisplay"  id="mymagicbutton" class="btn btn-lg btn btn-info" ng-click="EnterHolidayMode()" style="width: 100%;margin-top: 10px;">Enter holiday mode</button>
                        <button  data-toggle="modal" data-target="#mymagicdisplay"  class="btn btn-lg btn btn-info" ng-click="DeleteAccount()" style="width: 100%;margin-top: 10px;">Delete Account</button>

                    </form>
                </div>
            </div>
        </div>
    </div>




