

  <div class="row  goalDisplayer" id="DisplayDont" >
    <h2>Dont</h2>
    <div class="goal" ng-repeat="goal in donts">
      <div>
        <h4>{{goal.title}}</h4>
        <p ng-repeat=" p in goal.description.split('\n')">{{p}}</p>
        <h5>Points: {{goal.points}}</h5>
      </div>
      <div class="row bottomBar">
        <div class="col-xs-9">
          <h5 ng-hide="goal.money!=0">Money: none</h5>
          <h5 ng-show="goal.money!=0">Money: {{goal.money}}</h5>
        </div>
        <div class="col-xs-3" class="col-xs-3" style="text-align:right; vertical-align:bottom">
          <button ng-click="CheckGoal(goal)" title="check goal"><i class="fa fa-check" aria-hidden="true"></i></button>
          <button ng-click="UndoGoal(goal)" title="undo goal" ng-show="goal.canUndo"><i class="fa fa-undo" aria-hidden="true"></i></button>
          <button ng-click="Monetize(goal)" title="monetised (click to switch)" ng-show="goal.isMonetised"><i class="fa fa-money" aria-hidden="true" style="margin-left:-3px;"></i></button>
          <button ng-click="Monetize(goal)" title="not monetised (click to switch)" ng-hide="goal.isMonetised"><i class="fa fa-money" aria-hidden="true" style="margin-left:-3px; color:#D3D3D3"></i></button>
          <button ng-click="ShareGoal(goal)" title="share goal"><i class="fa fa-share-alt" aria-hidden="true"></i></button>
          <button ng-click="EditGoal(goal)" title="edit goal"><i class="fa fa-pencil" aria-hidden="true"></i></button>
        </div>
      </div>
    </div>
  </div>


