


<div class="row tab Home active" ng-controller="mainController">
   <div  ng-controller="tabController as tab"><!--start col surrounds the goals themselves-->
    <div class="row" id="GoalsDisplayed">

      <div class="row page-header" id="DisplayDont">
        <blockquote style="background-color:#4267B2"><h1><span class="label label-danger">Dont</span><br>&lt;do something&gt;</h1></blockquote>
        <fb:share-button  data-href="" data-layout="button_count" data-size="small" data-mobile-iframe="true"><a class="fb-xfbml-parse-ignore" target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fwww.youtube.com%2Fwatch%3Fv%3DjkaMiaRLgvY&amp;src=sdkpreparse">Share</a> </fb:share-button>

        <div class="col-xs-12 col-lg-12 goal" ng-repeat="goal in donts">

            <!--EditGoal tag and directive-->
            <div ng-show="tab.isSelected('EditGoal')">
                <editgoal ng-controller="mainController"></editgoal>
            </div>
            <!--EditGoal tag and directive-->

          <div>
            <h2 class="page-header">{{goal.title}}</h2>
            <p ng-repeat="p in goal.description.split('\n')">{{p}}</p>
            <h5>Points: {{goal.points}}</h5>

          </div>
          <div class="row bottomBar">
            <div class="col-lg-8">
              <h5 ng-hide="goal.money!=0">Money: none</h5>
              <h5 ng-show="goal.money!=0">Money: {{goal.money.toFixed(2)}}$</h5>
            </div>

            <div class="col-lg-4 btn btn-toolbar" role="group" aria-label="Button Group"  style="text-align:right; vertical-align:bottom">
              <button type="button" class="btn btn-default" ng-click="CheckGoal(goal)" title="check goal"><span class="addon"><i class="glyphicon glyphicon-ok" style="font-size: 25px;"></i></span></button>

              <button type="button" class="btn btn-default" ng-click="UndoGoal(goal)" title="undo goal" ng-show="goal.canUndo"><span class="addon"><i class="glyphicon glyphicon-repeat" style="font-size: 25px;"></i></span></button>

              <button type="button" class="btn btn-default" ng-click="Monetize(goal)" title="monetised (click to switch)" ng-show="goal.isMonetised"><span class="addon"><i class="glyphicon glyphicon-usd" style="font-size: 25px;"></i></span></button>

              <button type="button" class="btn btn-default" ng-click="Monetize(goal)" title="not monetised (click to switch)" ng-hide="goal.isMonetised"><span class="addon"><i class="glyphicon glyphicon-usd" style="font-size: 25px;"></i></span></button>

              <button href="#" id="shareBtn" type="button" class="btn btn-default" ng-click="ShareGoal(goal)" data-toggle="tooltip" data-trigger="click" data-container="body" title="Select the text that you want to share!"  style="background-color: #4267B2;border: none;"> <span class="addon"><i class="glyphicon glyphicon-share-alt" style="font-size: 25px;color:white;"></i></span></button>

              <button type="button">
                <a href="" ng-click="EditGoal(goal);tab.selectedTab('EditGoal')" ng-show="GetActualDate()-goal.timestamp>1000*3600*24">Edit Goal</a>
              </button>

              <button type="button" ng-hide="GetActualDate()-goal.timestamp>1000*3600*24" title="Can't edit goal yet"><span class="addon"><i class="glyphicon glyphicon-minus-sign" style="font-size: 25px;"></i></span>

              </button>

            </div>
          </div>
        </div>
      </div>

      <div class="row page-header" id="DisplayDaily">
        <blockquote style="background-color: #F0AD4E;"><h1><span class="label label-danger">Today</span><br>&lt;set a daily goal&gt;</h1></blockquote>

        <fb:share-button id="shareBtn" data-href="" data-layout="button_count" data-size="small" data-mobile-iframe="true"><a class="fb-xfbml-parse-ignore" target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fwww.youtube.com%2Fwatch%3Fv%3DjkaMiaRLgvY&amp;src=sdkpreparse">Share</a> </fb:share-button>

        <div class="col-xs-12 col-lg-12 goal" ng-repeat="goal in dailys">

          <!--EditGoal tag and directive-->
          <div ng-show="tab.isSelected('EditGoal')">
            <editgoal ng-controller="mainController"></editgoal>
          </div>
          <!--EditGoal tag and directive-->

          <div>
            <h2 class="page-header">{{goal.title}} <span class="countdown">({{UpdateTime(goal).hours | numberFixedLen:2}}:{{UpdateTime(goal).minutes | numberFixedLen:2}}:{{UpdateTime(goal).seconds | numberFixedLen:2}})</span></h2>
            <p ng-repeat=" p in goal.description.split('\n')">{{p}}</p>
            <h5>Points: +{{goal.points}}</h5>
            <h5 ng-hide="goal.money!=0">Money: none</h5>
            <h5 ng-show="goal.money!=0">Money: {{goal.money.toFixed(2)}}$</h5>
          </div>
          <div class="row bottomBar">
            <div class="col-lg-8">
              <h3 ng-show="goal.actualRepeats<goal.repeats">Today: {{goal.actualRepeats}}/{{goal.repeats}}</h3>
              <h3 ng-show="goal.actualRepeats===goal.repeats">Completed </h3>
              <h3 ng-show="goal.actualRepeats>goal.repeats">Completed + {{goal.actualRepeats-goal.repeats}}</h3>
            </div>
            <div class="col-lg-4 btn btn-toolbar" role="group" aria-label="Button Group" style="text-align:right">
              <button type="button" class="btn btn-default" ng-click="CheckGoal(goal)" title="check goal"><span class="addon"><i class="glyphicon glyphicon-ok" style="font-size: 25px;"></i></span></button>

              <button type="button" class="btn btn-default" ng-click="UndoGoal(goal)" title="undo goal" ng-show="goal.canUndo"><span class="addon"><i class="glyphicon glyphicon-repeat" style="font-size: 25px;"></i></span></button>

              <button type="button" class="btn btn-default" ng-click="Monetize(goal)" title="monetised (click to switch)" ng-show="goal.isMonetised"><span class="addon"><i class="glyphicon glyphicon-usd" style="font-size: 25px;"></i></span></button>

              <button type="button" class="btn btn-default" ng-click="Monetize(goal)" title="not monetised (click to switch)" ng-hide="goal.isMonetised"><span class="addon"><i class="glyphicon glyphicon-usd" style="font-size: 25px;"></i></span></button>

              <button   type="button" class="btn btn-default" ng-click="ShareGoal(goal)" title="share goal" style="background-color: #4267B2;border: none;"> <span class="addon"><i class="glyphicon glyphicon-share-alt" style="font-size: 25px;color:white;"></i></span></button>


              <button type="button">
                <a href="" ng-click="EditGoal(goal);tab.selectedTab('EditGoal')" ng-show="GetActualDate()-goal.timestamp>1000*3600*24">Edit Goal</a>
              </button>

              <button type="button" ng-hide="GetActualDate()-goal.timestamp>1000*3600*24" title="Can't edit goal yet"><span class="addon"><i class="glyphicon glyphicon-minus-sign" style="font-size: 25px;"></i></span>

              </button>
            </div>
          </div>
        </div>
      </div>

      <div class="row page-header" id="DisplayWeekly">

        <blockquote style="background-color: #4267B2;"><h1><span class="label label-danger">This Week</span><br>&lt;set a weekly goal&gt;</h1></blockquote>

        <fb:share-button  data-href="" data-layout="button_count" data-size="small" data-mobile-iframe="true"><a class="fb-xfbml-parse-ignore" target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fwww.youtube.com%2Fwatch%3Fv%3DjkaMiaRLgvY&amp;src=sdkpreparse">Share</a> </fb:share-button>

        <div class="col-xs-12 col-lg-12 goal" ng-repeat="goal in weeklys">

<!--EditGoal tag and directive-->
          <div ng-show="tab.isSelected('EditGoal')">
            <editgoal ng-controller="mainController"></editgoal>
          </div>
<!--EditGoal tag and directive-->

          <div>
            <h2 class="page-header">{{goal.title}} ({{UpdateTime(goal).daysTillWeek}} days, {{UpdateTime(goal).hours}} hours left)</h2>
            <p ng-repeat=" p in goal.description.split('\n')">{{p}}</p>
            <h5>Points: +{{goal.points}}</h5>
            <h5 ng-hide="goal.money!=0">Money: none</h5>
            <h5 ng-show="goal.money!=0">Money: {{goal.money.toFixed(2)}}$</h5>
          </div>
          <div class="row bottomBar">
            <div class="col-lg-8">
              <h3 ng-show="goal.actualRepeats<goal.repeats">This Week: {{goal.actualRepeats}}/{{goal.repeats}}</h3>
              <h3 ng-show="goal.actualRepeats===goal.repeats">Completed </h3>
              <h3 ng-show="goal.actualRepeats>goal.repeats">Completed + {{goal.actualRepeats-goal.repeats}}</h3>
            </div>
            <div>


              <button type="button" class="btn btn-default" ng-click="CheckGoal(goal)" title="check goal"><span class="addon"><i class="glyphicon glyphicon-ok" style="font-size: 25px;"></i></span> </button>

              <button type="button" class="btn btn-default" ng-click="UndoGoal(goal)" title="undo goal" ng-show="goal.canUndo"><span class="addon"><i class="glyphicon glyphicon-repeat" style="font-size: 25px;"></i></span> </button>

              <button type="button" class="btn btn-default" ng-click="Monetize(goal)" title="monetised (click to switch)" ng-show="goal.money!=0"><span class="addon"><i class="glyphicon glyphicon-usd" style="font-size: 25px;"></i></span> </button>

              <button type="button" class="btn btn-default" ng-click="Monetize(goal)" title="not monetised (click to switch)" ng-hide="goal.money!=0"><span class="addon"><i class="glyphicon glyphicon-usd" style="font-size: 25px;"></i></span> </button>

              <button type="button" class="btn btn-default" ng-click="ShareGoal(goal)" title="share goal" style="background-color: #4267B2;border: none;"><span class="addon"><i class="glyphicon glyphicon-share-alt" style="font-size: 25px;color:white;"></i></span></button>

              <button type="button"   title="edit goal"><span class="addon"><i class="glyphicon glyphicon-pencil" style="font-size: 25px;"></i></span>
                <a href ng-click="EditGoal(goal);tab.selectedTab('EditGoal')" ng-show="GetActualDate()-goal.timestamp>1000*3600*24*14">Edit goal</a>
              </button>

              <button  type="button"  ng-hide="GetActualDate()-goal.timestamp>1000*3600*24*14" title="Can't edit goal yet"><span class="addon"><i class="glyphicon glyphicon-minus-sign" style="font-size: 25px;"></i></span>

              </button>
            </div>
          </div>
        </div>
      </div>

      <div class="row page-header" id="DisplayMonthly">
        <blockquote style="background-color: #F0AD4E;"><h1><span class="label label-danger">This Month </span><br>&lt;set a monthly goal&gt;</h1></blockquote>

        <fb:share-button  data-href="" data-layout="button_count" data-size="small" data-mobile-iframe="true"><a class="fb-xfbml-parse-ignore" target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fwww.youtube.com%2Fwatch%3Fv%3DjkaMiaRLgvY&amp;src=sdkpreparse">Share</a> </fb:share-button>

        <div class="col-xs-12 col-lg-12 goal" ng-repeat="goal in monthlys">

          <!--EditGoal tag and directive-->
          <div ng-show="tab.isSelected('EditGoal')">
            <editgoal ng-controller="mainController"></editgoal>
          </div>
          <!--EditGoal tag and directive-->

          <div>
            <h2 class="page-header">{{goal.title}} ({{UpdateTime(goal).daysTillMonth}} days, {{UpdateTime(goal).hours}} hours left)</h2>
            <p ng-repeat=" p in goal.description.split('\n')">{{p}}</p>
            <h5>Points: +{{goal.points}}</h5>
            <h5 ng-hide="goal.money!=0">Money: none</h5>
            <h5 ng-show="goal.money!=0">Money: {{goal.money.toFixed(2)}}$</h5>
          </div>
          <div class="row bottomBar">
            <div class="col-lg-8">
              <h3 ng-show="goal.actualRepeats<goal.repeats">This Month: {{goal.actualRepeats}}/{{goal.repeats}}</h3>
              <h3 ng-show="goal.actualRepeats===goal.repeats">Completed </h3>
              <h3 ng-show="goal.actualRepeats>goal.repeats">Completed + {{goal.actualRepeats-goal.repeats}}</h3>
            </div>
            <div class="col-lg-4 btn btn-toolbar" role="group" aria-label="Button Group">
              <button type="button" class="btn btn-default"  ng-click="CheckGoal(goal)" title="check goal"><i class="glyphicon glyphicon-ok" style="font-size: 25px;"></i></button>

              <button type="button" class="btn btn-default"  ng-click="UndoGoal(goal)" title="undo goal" ng-show="goal.canUndo"><i class="glyphicon glyphicon-repeat" style="font-size: 25px;"></i></button>

              <button type="button" class="btn btn-default"  ng-click="Monetize(goal)" title="monetised (click to switch)" ng-show="goal.isMonetised"><i class="glyphicon glyphicon-usd" style="font-size: 25px;"></i></button>

              <button type="button" class="btn btn-default"  ng-click="Monetize(goal)" title="not monetised (click to switch)" ng-hide="goal.isMonetised"><i class="glyphicon glyphicon-usd" style="font-size: 25px;"></i></button>

              <button type="button" class="btn btn-default" ng-click="ShareGoal(goal)" title="share goal" style="background-color: #4267B2;border: none;"><span class="addon"><i class="glyphicon glyphicon-share-alt" style="font-size: 25px;color:white;"></i></span></button>

              <button type="button">
                  <a href="" ng-click="EditGoal(goal);tab.selectedTab('EditGoal')" ng-show="GetActualDate()-goal.timestamp>1000*3600*24*28">Edit Goal</a>
              </button>

              <button type="button"   ng-hide="GetActualDate()-goal.timestamp>1000*3600*24*28" title="Can't edit goal yet"><i class="glyphicon glyphicon-minus-sign" style="font-size: 25px;"></i>

              </button>
            </div>
          </div>
        </div>
      </div>

    </div><!--end Goals displayed-->

  </div><!---ends col-md-8 goals themselves--->
</div><!--ends the row above-->
