<!DOCTYPE html>
<html ng-app="habits" md-colors="{background:'my2ndAwesomeTheme-background-900'}">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no"/>
    <title>Habits Former</title>
    <link href="https://fonts.googleapis.com/css?family=Fira+Sans:400,600italic,800" rel="stylesheet">
    <link rel="stylesheet" href="Plugins/angular-material/angular-material.css">
    <link rel="stylesheet" type="text/css" href="Plugins/sweetalert-master/dist/sweetalert.css">
    <link rel="stylesheet" href="css/main.css">
</head>

<body md-theme="my2ndAwesomeTheme" ng-cloak md-colors="{background:'my2ndAwesomeTheme-background-900'}">

<div layout-xs="column" layout-sm="column" layout-md="row" layout-lg="row" layout-xl="row">

        <md-card><img src="img/begin.jpg" class="md-card-image">
            <md-card-title  md-colors="{background:'my2ndAwesomeTheme-accent-500'}">
                <md-card-title-text>
                    <span class="md-headline">“We are what we repeatedly do. Excellence, then, is not an act, but a habit.”</span>
                    <span class="md-subhead">Aristotle</span>
                </md-card-title-text>
            </md-card-title>
        </md-card>
        <md-card><img src="img/visit.jpg" class="md-card-image"></md-card>
        <md-card><img src="img/dance.jpg" class="md-card-image"></md-card>

</div>

    <div layout-xs="column" layout-sm="column" layout-md="row" layout-lg="row" layout-xl="row">
        <md-toolbar layout-align="center center">
           <h1 class="md-headline">Welcome to Habitsformer</h1>
        </md-toolbar>
        <md-toolbar  class="md-accent" layout-align="center center">
            <h2 class="md-title"> the platform that helps you become <md-divider md-inset>the best you can be</md-divider></h2>
        </md-toolbar>
    </div>


<div layout-xs="column" layout-sm="column" layout-md="row" layout-lg="row" layout-xl="row" layout-padding layout-margin layout-align="center center">
    <div id="sideNavContainer" ng-controller="sideNavController as sNavCtrl">
        <md-sidenav md-component-id="left" class="md-sidenav-left" md-colors="{background:'my2ndAwesomeTheme-accent-100-0.45'}">

            <div ng-controller="Controller" layout-padding layout-margin style="margin-top: 40%;margin-left:10%">
                <md-button class="md-primary md-hue-2" ng-click="showLogin()" ng-hide="beenAdded() === false">Login</md-button></br><!--tabsModule/Controller--->
                <md-button class="md-primary md-hue-2" ng-click="showRegister()" ng-hide="beenAdded() === false">Register</md-button></br>
                <md-button class="md-primary md-hue-2" ng-click="showReset()" ng-hide="beenAdded() === false">Forgot Password</md-button></br>

                <div ng-include="templateURL"></div>

                <fb:login-button size="large" scope="public_profile,email" onlogin="checkLoginState();"
                                 style="color:transparent;margin-left:25px">Continue with Facebook
                </fb:login-button>
            </div>
        </md-sidenav>

        <md-content>
            <md-button class="md-primary md-hue-1" ng-click = "openLeftMenu()">Enter the VU</md-button>
        </md-content>
    </div>
</div>




<div layout-xs="column" layout-sm="column" layout-md="row" layout-lg="row" layout-xl="row">

        <md-card><img src="img/jogg.jpg" class="md-card-image"></md-card>
        <md-card flex-gt-sm="35"><img src="img/savemoney.jpg" class="md-card-image"></md-card>
        <md-card><img src="img/thinkPlanBegin.jpg" class="md-card-image"></md-card>
</div>
    <div layout-xs="column" layout-sm="column" layout-md="row" layout-lg="row" layout-xl="row">

        <md-card><img src="img/extreme.jpg" class="md-card-image"></md-card>
        <md-card><img src="img/drinkWater.jpg" class="md-card-image"></md-card>
        <md-card><img src="img/bakeSomething.jpg" class="md-card-image"></md-card>

</div>



<script>(function (d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s);
    js.id = id;
    js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.8&appId=1218512284931824";
    fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
<script src="Plugins/angular/angular.min.js"></script>
<script src="Plugins/jquery/dist/jquery.min.js"></script>
<script src="Plugins/angular-route/angular-route.min.js"></script>
<script src="Plugins/firebase/firebase.js"></script>
<script src="Plugins/angularfire/dist/angularfire.min.js"></script>
<script src="Plugins/angular-animate/angular-animate.min.js"></script>
<script src="Plugins/angular-aria/angular-aria.min.js"></script>
<script src="Plugins/angular-material/angular-material.min.js"></script>
<script src="Plugins/sweetalert-master/dist/sweetalert.min.js"></script>

<script src="js/app.js"></script>
<script src="js/login.js"></script>
<script src="js/mainfunctions.js"></script>
<script src="js/directives.js"></script>
<script src="js/tabs.js"></script>
<script src="js/data.js"></script>


<script>
    //Initialize Firebase
    var config = {
        apiKey: "AIzaSyCbK_-CLuHj1VrPzWBm37f9w_NyytxlmNs",
        authDomain: "im-sharp.firebaseapp.com",
        databaseURL: "https://im-sharp.firebaseio.com",
        storageBucket: "im-sharp.appspot.com",
        messagingSenderId: "496133993449"
    };
    firebase.initializeApp(config);
</script>
</body>

</html>
