<!DOCTYPE html>
<html ng-app="habits">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no" />
    <title>Habits Former</title>
    <link rel="stylesheet" href="Plugins/angular-material/angular-material.css">
    <link rel="stylesheet" type="text/css" href="Plugins/sweetalert-master/dist/sweetalert.css">
    <link rel="stylesheet" href="css/main.css">
</head>

<body ng-controller="mainController">

  <section  ng-controller="tabController as tab">
          <button ng-class="{active:tab.isSelected('Home')}">
              <a href ng-click="tab.selectedTab('Home')" >Home</a>
          </button>
        <button ng-class="{active:tab.isSelected('FAQ')}">
            <a href ng-click="tab.selectedTab('FAQ')" >FAQ</a>
        </button>
        <button ng-class="{active:isSelected('Account')}">
            <a href ng-click="tab.selectedTab('Account')">Account</a>
        </button>
        <button ng-class="{active:tab.isSelected('AddGoals')}">
            <a href ng-click="tab.selectedTab('AddGoals')" >Add goals</a>
        </button>

         <button>
             <a href ng-click="Logout()">Log out</a>
         </button>




      <div ng-show="tab.isSelected('Home')">
          <home ng-controller="mainController"></home>
      </div>
      <div  ng-show="tab.isSelected('Account')">
          <account ng-controller="mainController"></account>
      </div>

      <div ng-show="tab.isSelected('AddGoals')">
          <addgoals ng-controller="mainController"></addgoals>
      </div>
      <div ng-show="tab.isSelected('FAQ')">
          <faq ng-controller="mainController"></faq>
      </div>
       <div ng-show="user.onHoliday">
           <userholiday ng-controller="mainController"></userholiday>
       </div>
  </section>










  <script src="Plugins/angular/angular.min.js"></script>
  <script src="Plugins/jquery/dist/jquery.min.js"></script>
  <script src="Plugins/angular-route/angular-route.min.js"></script>
  <script src="Plugins/firebase/firebase.js"></script>
  <script src="Plugins/angularfire/dist/angularfire.min.js"></script>
  <script src="Plugins/angular-animate/angular-animate.min.js"></script>
  <script src="Plugins/angular-aria/angular-aria.min.js"></script>
  <script src="Plugins/angular-material/angular-material.min.js"></script>
  <script src="Plugins/sweetalert-master/dist/sweetalert.min.js"></script>

  <script src="js/app.js"></script>
  <script src="js/login.js"></script>
  <script src="js/mainfunctions.js"></script>
  <script src="js/directives.js"></script>
  <script src="js/tabs.js"></script>
  <script src="js/data.js"></script>
  <script>
      //Initialize Firebase
      var config = {
          apiKey: "AIzaSyCbK_-CLuHj1VrPzWBm37f9w_NyytxlmNs",
          authDomain: "im-sharp.firebaseapp.com",
          databaseURL: "https://im-sharp.firebaseio.com",
          storageBucket: "im-sharp.appspot.com",
          messagingSenderId: "496133993449"
      };
      firebase.initializeApp(config);
  </script>

</body>
</html>

