


<h1>Register</h1>

<div layout="row" layout-padding ng-controller="registerController">

            <form >
                <md-input-container>
                <input placeholder="Name" type="text" ng-model="userName">
                </md-input-container>
                <md-input-container>
                <input placeholder="Email" type="email" ng-model="email">
                </md-input-container>
                <md-input-container>
                <input placeholder="Password" type="password" ng-model="password">
                </md-input-container>
                <md-input-container>
                <input placeholder="Confirm password" type="password" ng-model="confirmPassword">
                </md-input-container>
                <div layout-padding>
                    <md-button class="md-accent" ng-click="Register()">Create account</md-button></br>
                    <md-button class="md-accent" ng-click="showLogin()">Back to login</md-button></br>
                    <md-button class="md-accent" ng-click="showReset()">Back to reset Password</md-button></br>
                </div>
            </form>

 </div>





