
    <h1>Reset Password</h1>
    <h2> Please enter your email adress below</h2>


    <div layout="row" layout-padding ng-controller="ResetPasswordController">
                <form>
                    <md-input-container>
                       <input placeholder="Email" type="text" ng-model="email">
                    </md-input-container>
                    <div layout-padding>
                        <md-button class="md-accent" ng-click="ResetPassword()">Reset Password</md-button></br>
                        <md-button class="md-primary md-hue-2" ng-click="showLogin()">Back to login</md-button></br>
                        <md-button class="md-primary md-hue-2" ng-click="showRegister()">Back to create account</md-button>
                    </div>

                </form>

    </div>

