





<div class="row" id="title">
    <h1>Reset Password</h1>
    <h2> Please enter your email adress below</h2>
</div>


    <div ng-controller="ResetPasswordController">
        <div id="wrapper" style="text-align: center">
            <div style="display: inline-block;">
                <form style="text-align:center" id="ResetPasswordForm" >
                    <input placeholder="Email" type="text" ng-model="email">
                    <div class="buttons">
                        <button style="display:inline-block" ng-click="ResetPassword()">Reset Password</button></br>
                        <button style="display:inline-block" onclick="Switch('Login')">Back to login</button></br>
                    </div>
                </form>
            </div>
        </div>
    </div>

