<!doctype html>
<html>
  <head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

    <link rel="stylesheet" type="text/css" href="Plugins/sweetalert-master/dist/sweetalert.css">
    <script src="Plugins/sweetalert-master/dist/sweetalert.min.js"></script>

    <link rel="stylesheet" href="CSS/main.css"></link>
    <link rel="stylesheet" href="CSS/login.css"></link>
  </head>

  <body ng-app="HabitsFormer" ng-controller="ResetPasswordController">
    <div class="container-fluid">
      <div class="row" id="title">
        <h1>Reset Password</h1>
        <h2> Please enter your email adress below</h2>
      </div>
      <div class="row">
        <div class="col-md-2">

        </div>

        <div class="col-md-8" id="mainContent">
          <div id="wrapper" style="text-align: center">
            <div style="display: inline-block;">
              <form style="text-align:center" id="ResetPasswordForm" >
                <input placeholder="Email" type="text" ng-model="email">
                <div class="buttons">
                  <button style="display:inline-block" ng-click="ResetPassword()">Reset Password</button></br>
                  <button style="display:inline-block" onclick="Switch('Login')">Back to login</button></br>
                </div>
              </form>
            </div>
          </div>
        </div>

        <div class="col-md-2">

        </div>
      </div>
    </div>

  </body>

  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular-route.js"></script>
  <script src="https://www.gstatic.com/firebasejs/3.5.0/firebase.js"></script>
  <script src="https://cdn.firebase.com/libs/angularfire/2.0.1/angularfire.min.js"></script>
  <script src="Js/data.js"></script>
  <script src="Js/ResetPasswordController.js"></script>
  <script src="Js/login.js"></script>

  <script>
    // Initialize Firebase
    var config = {
      apiKey: "AIzaSyCbK_-CLuHj1VrPzWBm37f9w_NyytxlmNs",
      authDomain: "im-sharp.firebaseapp.com",
      databaseURL: "https://im-sharp.firebaseio.com",
      storageBucket: "im-sharp.appspot.com",
      messagingSenderId: "496133993449"
    };
    firebase.initializeApp(config);



  </script>
</html>
