


<div ng-controller="mainController">
    <div ng-controller="Controller" ng-show="beenAdded() === true">
                        <h1 class="panel-title">Hi {{user.userName}}, you're on holiday</h1>


                        <form>
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-unlock" aria-hidden="true"></i></span>
                                <input class="form-control input input-sm" placeholder="Password" type="password" ng-model="password">
                            </div>
                        </form>

                        <button  ng-click="EndHolidayMode();showAccount()">Click here to end</button>


</div>

</div>


